<a href="https://colab.research.google.com/github/iimam07/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
!pip install keras-tuner --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.3.3-py3-none-any.whl (172 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 172.1/172.1 KB 4.4 MB/s eta 0:00:00
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: protobuf<=3.20.3 in /usr/local/lib/python3.9/dist-packages (from keras-tuner) (3.20.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from keras-tuner) (23.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from keras-tuner) (2.27.1)
Requirement already satisfied: tensorflow>=2.0 in /usr/local/lib/python3.9/dist-packages (from keras-tuner) (2.12.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.14.1)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (2.2.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (0.2.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.6.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (67.6.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (3.3.0)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (2.12.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (4.5.0)
Requirement already satisfied: numpy<1.24,>=1.22 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.22.4)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (16.0.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.4.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.16.0)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (23.3.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (0.32.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (3.8.0)
Requirement already satisfied: keras<2.13,>=2.12.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (2.12.0)
Requirement already satisfied: jax>=0.3.15 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (0.4.7)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (2.12.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.53.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (0.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->keras-tuner) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->keras-tuner) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.9/dist-packages (from astunparse>=1.6.0->tensorflow>=2.0->keras-tuner) (0.40.0)
Requirement already satisfied: ml-dtypes>=0.0.3 in /usr/local/lib/python3.9/dist-packages (from jax>=0.3.15->tensorflow>=2.0->keras-tuner) (0.0.4)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.9/dist-packages (from jax>=0.3.15->tensorflow>=2.0->keras-tuner) (1.10.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (0.4.6)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (2.17.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (3.4.3)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (2.2.3)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (0.7.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (1.8.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.9/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.9/dist-packages (from markdown>=2.6.8->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (6.1.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.9/dist-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (2.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (3.15.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.9/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (3.2.2)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.3.3 kt-legacy-1.0.4

## Preprocessing

## Preprocessing

In [48]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.utils import np_utils

#  Import and read the charity_data.csv.
import pandas as pd

In [41]:
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [42]:
fpath = "/content/gdrive/My Drive/charity_data.csv"
application_df = pd.read_csv(fpath)
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [43]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [44]:
# Determine the number of unique values in each column.
app_cat = application_df.dtypes.index.tolist()
application_df[app_cat].nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [45]:
# Look at APPLICATION_TYPE value counts for binning
app_type_count = application_df['APPLICATION_TYPE'].value_counts()
app_type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [46]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_count[app_type_count < 600].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [47]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df['CLASSIFICATION'].value_counts()
class_count.head(20)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Name: CLASSIFICATION, dtype: int64

In [49]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [50]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count < 300].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [51]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_app_df = pd.get_dummies(application_df)
numeric_app_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [52]:
# Split our preprocessed data into our features and target arrays
y = numeric_app_df["IS_SUCCESSFUL"]
X = numeric_app_df.drop(["IS_SUCCESSFUL"],axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [53]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Attempt 1

1.   List item
2.   List item

In [69]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=8
hidden_nodes_layer2=5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='sigmoid'))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_29 (Dense)            (None, 8)                 352

 dense_30 (Dense)            (None, 5)                 45

 dense_31 (Dense)            (None, 1)                 6

=================================================================
Total params: 403
Trainable params: 403
Non-trainable params: 0
_________________________________________________________________

In [70]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [71]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=75)

Epoch 1/75
684/684 [==============================] - 3s 3ms/step - loss: 0.6319 - accuracy: 0.6695 - val_loss: 0.5881 - val_accuracy: 0.7160
Epoch 2/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5704 - accuracy: 0.7290 - val_loss: 0.5735 - val_accuracy: 0.7199
Epoch 3/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5616 - accuracy: 0.7317 - val_loss: 0.5687 - val_accuracy: 0.7227
Epoch 4/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5584 - accuracy: 0.7338 - val_loss: 0.5667 - val_accuracy: 0.7253
Epoch 5/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5567 - accuracy: 0.7326 - val_loss: 0.5661 - val_accuracy: 0.7253
Epoch 6/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7346 - val_loss: 0.5647 - val_accuracy: 0.7251
Epoch 7/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7340 - val_loss: 0.5637 - val_accuracy: 0.7256
Epoch 8/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5535 - accuracy: 0.7346 - val_loss: 0.5643 - val_accuracy: 0.7217
Epoch 9/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5530 - accuracy: 0.7350 - val_loss: 0.5625 - val_accuracy: 0.7230
Epoch 10/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5524 - accuracy: 0.7336 - val_loss: 0.5628 - val_accuracy: 0.7232
Epoch 11/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5518 - accuracy: 0.7349 - val_loss: 0.5609 - val_accuracy: 0.7264
Epoch 12/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7348 - val_loss: 0.5614 - val_accuracy: 0.7225
Epoch 13/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7330 - val_loss: 0.5610 - val_accuracy: 0.7243
Epoch 14/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7329 - val_loss: 0.5596 - val_accuracy: 0.7245
Epoch 15/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7340 - val_loss: 0.5595 - val_accuracy: 0.7235
Epoch 16/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7346 - val_loss: 0.5595 - val_accuracy: 0.7245
Epoch 17/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7347 - val_loss: 0.5588 - val_accuracy: 0.7258
Epoch 18/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7346 - val_loss: 0.5591 - val_accuracy: 0.7230
Epoch 19/75
684/684 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7351 - val_loss: 0.5602 - val_accuracy: 0.7199
Epoch 20/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7342 - val_loss: 0.5587 - val_accuracy: 0.7248
Epoch 21/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7354 - val_loss: 0.5599 - val_accuracy: 0.7225
Epoch 22/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7340 - val_loss: 0.5583 - val_accuracy: 0.7240
Epoch 23/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7340 - val_loss: 0.5586 - val_accuracy: 0.7245
Epoch 24/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7351 - val_loss: 0.5592 - val_accuracy: 0.7230
Epoch 25/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7342 - val_loss: 0.5574 - val_accuracy: 0.7256
Epoch 26/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7348 - val_loss: 0.5582 - val_accuracy: 0.7245
Epoch 27/75
684/684 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7357 - val_loss: 0.5579 - val_accuracy: 0.7238
Epoch 28/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7348 - val_loss: 0.5577 - val_accuracy: 0.7225
Epoch 29/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7340 - val_loss: 0.5583 - val_accuracy: 0.7230
Epoch 30/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7351 - val_loss: 0.5584 - val_accuracy: 0.7240
Epoch 31/75
684/684 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7348 - val_loss: 0.5570 - val_accuracy: 0.7240
Epoch 32/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7344 - val_loss: 0.5581 - val_accuracy: 0.7230
Epoch 33/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5465 - accuracy: 0.7348 - val_loss: 0.5583 - val_accuracy: 0.7217
Epoch 34/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7357 - val_loss: 0.5571 - val_accuracy: 0.7235
Epoch 35/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7339 - val_loss: 0.5578 - val_accuracy: 0.7251
Epoch 36/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7343 - val_loss: 0.5583 - val_accuracy: 0.7219
Epoch 37/75
684/684 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7347 - val_loss: 0.5581 - val_accuracy: 0.7230
Epoch 38/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7350 - val_loss: 0.5574 - val_accuracy: 0.7253
Epoch 39/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7347 - val_loss: 0.5568 - val_accuracy: 0.7222
Epoch 40/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7346 - val_loss: 0.5581 - val_accuracy: 0.7212
Epoch 41/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7351 - val_loss: 0.5571 - val_accuracy: 0.7243
Epoch 42/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7352 - val_loss: 0.5581 - val_accuracy: 0.7240
Epoch 43/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7353 - val_loss: 0.5576 - val_accuracy: 0.7240
Epoch 44/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7357 - val_loss: 0.5571 - val_accuracy: 0.7238
Epoch 45/75
684/684 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7357 - val_loss: 0.5583 - val_accuracy: 0.7230
Epoch 46/75
684/684 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7348 - val_loss: 0.5574 - val_accuracy: 0.7245
Epoch 47/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7351 - val_loss: 0.5579 - val_accuracy: 0.7225
Epoch 48/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7345 - val_loss: 0.5574 - val_accuracy: 0.7225
Epoch 49/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7346 - val_loss: 0.5576 - val_accuracy: 0.7253
Epoch 50/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7352 - val_loss: 0.5575 - val_accuracy: 0.7251
Epoch 51/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7353 - val_loss: 0.5577 - val_accuracy: 0.7217
Epoch 52/75
684/684 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7351 - val_loss: 0.5579 - val_accuracy: 0.7232
Epoch 53/75
684/684 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7355 - val_loss: 0.5579 - val_accuracy: 0.7235
Epoch 54/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7346 - val_loss: 0.5575 - val_accuracy: 0.7235
Epoch 55/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7355 - val_loss: 0.5581 - val_accuracy: 0.7225
Epoch 56/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7353 - val_loss: 0.5581 - val_accuracy: 0.7225
Epoch 57/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7344 - val_loss: 0.5571 - val_accuracy: 0.7230
Epoch 58/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7353 - val_loss: 0.5583 - val_accuracy: 0.7225
Epoch 59/75
684/684 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7357 - val_loss: 0.5575 - val_accuracy: 0.7230
Epoch 60/75
684/684 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7348 - val_loss: 0.5585 - val_accuracy: 0.7245
Epoch 61/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7358 - val_loss: 0.5581 - val_accuracy: 0.7238
Epoch 62/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7351 - val_loss: 0.5577 - val_accuracy: 0.7243
Epoch 63/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7346 - val_loss: 0.5576 - val_accuracy: 0.7240
Epoch 64/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7351 - val_loss: 0.5571 - val_accuracy: 0.7238
Epoch 65/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7351 - val_loss: 0.5580 - val_accuracy: 0.7245
Epoch 66/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7355 - val_loss: 0.5574 - val_accuracy: 0.7225
Epoch 67/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7351 - val_loss: 0.5585 - val_accuracy: 0.7240
Epoch 68/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7353 - val_loss: 0.5567 - val_accuracy: 0.7248
Epoch 69/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7353 - val_loss: 0.5574 - val_accuracy: 0.7222
Epoch 70/75
684/684 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7343 - val_loss: 0.5571 - val_accuracy: 0.7240
Epoch 71/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7352 - val_loss: 0.5576 - val_accuracy: 0.7232
Epoch 72/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7360 - val_loss: 0.5569 - val_accuracy: 0.7222
Epoch 73/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7355 - val_loss: 0.5570 - val_accuracy: 0.7238
Epoch 74/75
684/684 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7353 - val_loss: 0.5566 - val_accuracy: 0.7232
Epoch 75/75
684/684 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7351 - val_loss: 0.5570 - val_accuracy: 0.7245

In [72]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5526 - accuracy: 0.7248 - 357ms/epoch - 1ms/step
Loss: 0.5525628328323364, Accuracy: 0.724781334400177

In [74]:
# Export our model to HDF5 file
from google.colab import files

nn.save("alphabetsoupcharity_opt3.h5")